In [3]:
# Key open source data analysis packages
from IPython.display import display, HTML

import json
import logging
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
import re
import seaborn as sns

%matplotlib inline
sns.set(color_codes='True')

df= pd.read_csv('./UCI_Credit_Card_INPUT.csv')
df = df.drop(columns = ['default_payment'])
df.head(5)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,1,260000.0,2,1,2,51,-1,-1,-1,-1,...,9966,8517,22287,13668,21818,9966,8583,22301,0,3640
1,2,630000.0,2,2,2,41,-1,0,-1,-1,...,6500,6500,6500,2870,1000,6500,6500,6500,2870,0
2,3,70000.0,1,2,2,30,1,2,2,0,...,65701,66782,36137,36894,3200,0,3000,3000,1500,0
3,4,250000.0,1,1,2,29,0,0,0,0,...,63561,59696,56875,55512,3000,3000,3000,3000,3000,3000
4,5,50000.0,2,3,3,23,1,2,0,0,...,28116,28771,29531,30211,0,1500,1100,1200,1300,1100

In [4]:
import requests
import json

# URL for the web service
scoring_uri = 'http://3e82c5b0-cd25-4f8f-9a0d-23ff21048136.westeurope.azurecontainer.io/score'

# If the service is authenticated, set the key or token
key = '<your key or token>'
# Set the content type
headers = {'Content-Type': 'application/json'}
# If authentication is enabled, set the authorization header
headers['Authorization'] = f'Bearer {key}'

def predict(x):
    input_data = x.to_json()
    input_data = f'{{"data" : [ {input_data}]}}'
    resp = json.loads(requests.post(scoring_uri, input_data, headers=headers).json())
    print(f"HTTP Response: {resp}") # Include this is if you want to print out progress
    # The POST retuns an array, just return first item with [0]
    score = resp.get("result")[0]
    return score

# To test a subnet-  df[1:5].apply(predict, axis=1)
scores = df.apply(predict, axis=1)
df['score'] = scores
df

HTTP Response: {'result': [0]}
HTTP Response: {'result': [0]}
HTTP Response: {'result': [1]}
HTTP Response: {'result': [0]}
HTTP Response: {'result': [0]}
HTTP Response: {'result': [0]}
HTTP Response: {'result': [0]}
HTTP Response: {'result': [1]}
HTTP Response: {'result': [0]}
HTTP Response: {'result': [0]}
HTTP Response: {'result': [0]}
HTTP Response: {'result': [0]}
HTTP Response: {'result': [0]}
HTTP Response: {'result': [0]}
HTTP Response: {'result': [0]}
HTTP Response: {'result': [0]}
HTTP Response: {'result': [0]}
HTTP Response: {'result': [0]}
HTTP Response: {'result': [0]}
HTTP Response: {'result': [0]}
HTTP Response: {'result': [0]}
HTTP Response: {'result': [1]}
HTTP Response: {'result': [0]}
HTTP Response: {'result': [0]}
HTTP Response: {'result': [1]}
HTTP Response: {'result': [0]}
HTTP Response: {'result': [0]}
HTTP Response: {'result': [1]}
HTTP Response: {'result': [0]}
HTTP Response: {'result': [0]}

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,score
0,1,260000.0,2,1,2,51,-1,-1,-1,-1,...,8517,22287,13668,21818,9966,8583,22301,0,3640,0
1,2,630000.0,2,2,2,41,-1,0,-1,-1,...,6500,6500,2870,1000,6500,6500,6500,2870,0,0
2,3,70000.0,1,2,2,30,1,2,2,0,...,66782,36137,36894,3200,0,3000,3000,1500,0,1
3,4,250000.0,1,1,2,29,0,0,0,0,...,59696,56875,55512,3000,3000,3000,3000,3000,3000,0
4,5,50000.0,2,3,3,23,1,2,0,0,...,28771,29531,30211,0,1500,1100,1200,1300,1100,0
5,6,130000.0,2,3,2,39,0,0,0,0,...,20616,11802,930,3000,1537,1000,2000,930,33764,0
6,7,120000.0,2,2,1,39,-1,-1,-1,-1,...,0,632,316,316,316,0,632,316,0,0
7,8,70000.0,2,2,2,26,2,0,0,2,...,44006,46905,46012,2007,3582,0,3601,0,1820,1
8,9,450000.0,2,1,1,40,-2,-2,-2,-2,...,560,0,0,19428,1473,560,0,0,1128,0
9,10,90000.0,1,1,2,23,0,0,0,-1,...,5398,6360,8292,5757,0,5398,1200,2045,2000,0
10,11,50000.0,1,3,2,23,0,0,0,0,...,28967,29829,30046,1973,1426,1001,1432,1062,997,0
11,12,60000.0,1,1,2,27,1,-2,-1,-1,...,-57,127,-189,0,1000,0,500,0,1000,0
12,13,50000.0,2,3,1,47,-1,-1,-1,-1,...,2040,30430,257,3415,3421,2044,30430,257,0,0
13,14,50000.0,1,1,2,26,0,0,0,0,...,17907,18375,11400,1500,1500,1000,1000,1600,0,0
14,15,230000.0,2,1,2,27,-1,-1,-1,-1,...,15339,14307,36923,17270,13281,15339,14307,37292,0,0
15,16,100000.0,1,1,2,32,0,0,0,0,...,80958,78703,75589,3023,3511,3302,3204,3200,2504,0
16,17,500000.0,2,2,1,54,-2,-2,-2,-2,...,7521,71439,8981,4152,22827,7521,71439,981,51582,0
17,18,130000.0,1,1,2,34,0,0,0,0,...,108047,93708,97353,3000,2000,93000,4000,5027,4005,0
18,19,250000.0,1,1,1,34,0,0,0,0,...,245750,175005,179687,65000,8800,9011,6000,7000,6009,0
19,20,150000.0,1,1,2,35,-1,-1,-1,-1,...,780,0,0,9054,0,783,0,0,0,0
20,21,140000.0,1,2,1,41,0,0,0,0,...,138262,49675,46121,6000,7000,4228,1505,2000,2000,0
21,22,210000.0,1,2,1,34,3,2,2,2,...,2500,2500,2500,0,0,0,0,0,0,1
22,23,10000.0,1,3,1,43,0,0,0,-2,...,0,0,0,2000,0,0,0,0,0,0
23,24,100000.0,1,1,2,38,0,-1,-1,0,...,70626,69473,55004,2000,111784,4000,3000,2000,2000,0
24,25,80000.0,1,2,2,34,2,2,2,2,...,77519,82607,81158,7000,3500,0,7000,0,4000,1
25,26,220000.0,1,3,1,39,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
26,27,150000.0,1,3,2,43,-1,-1,-1,-1,...,8979,5190,0,1837,3526,8998,129,0,0,0
27,28,30000.0,1,2,2,37,4,3,2,-1,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
28,29,80000.0,1,3,1,41,1,-1,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,0
29,30,50000.0,1,2,1,46,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,0

In [6]:
df.to_csv (r'./scored.csv', index = False, header=True)